# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- Python
- R
- SQL
- Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow
4. Matplotlib
5. PyTorch

|Data Science Tools|
|-----------------|
|Jupyter Notebook|
|Apache Spark|
|IBM Watson Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Orkhan Mammadli